@import url(./../libs/style/normilize.css);
@import url(./generic.css);
.header {
  position: relative;
  overflow: hidden;
  z-index: 1;
  max-width: 100vw;
}
.header h1 {
  margin-bottom: 30px;
  font-size: 30px;
}
.header .logo img {
  max-width: 72vw;
}
.header .header_image {
  position: absolute;
  z-index: 2;
  right: -5%;
  top: 10%;
}
.header #cloud_left {
  position: absolute;
  max-width: 100%;
  z-index: 1;
  bottom: -5px;
  left: -5px;
}
.header #cloud_right {
  position: absolute;
  max-width: 100%;
  z-index: 1;
  bottom: -5px;
  right: -5px;
}
.header #cloud_top {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  right: 0;
  opacity: 0.5;
}
.header #circle {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  top: -20%;
  left: -20%;
  pointer-events: none;
}
.header section {
  position: relative;
  margin-top: 30px;
}
.header section header {
  position: relative;
  background: linear-gradient(47deg, #f4aa5e, #b5acf7);
  height: calc(100vh - 60px);
  border-radius: 15px;
  padding: 50px 35px;
  overflow: hidden;
}
.header section header .header_info {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebar {
  position: relative;
  z-index: 20;
  padding: 45px;
  background-color: #fff4e9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 430px;
}
.sidebar .btn_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar .btn_wrapper a:nth-child(2) {
  margin-top: 12px;
}

.sidebar_main {
  display: block;
  padding: 35px 30px;
  max-width: 330px;
}
.sidebar_main nav ul li {
  margin-bottom: 12px;
}
.sidebar_main nav ul li:last-child {
  margin-bottom: 0;
}
.sidebar_main nav ul a {
  font-size: 14px;
  color: var(--color-dark-gray);
}

.social_buttons a {
  color: var(--color-lavanda);
  font-size: 18px;
}
.social_buttons ul {
  display: flex;
  flex-wrap: wrap;
}
.social_buttons li:nth-child(1) {
  margin-right: 15px;
}

#index_footer {
  position: relative;
  z-index: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#index_footer::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, white, white, rgba(255, 255, 255, 0.2));
}
#index_footer img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.header_index .header_image {
  top: auto;
  bottom: 0;
}

.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item {
  transition: 0.3s;
}
.owl-carousel .owl-item:not(.active.center) {
  opacity: 0.3;
}
.owl-carousel .owl-item {
  transform: scale(0.7);
}
.owl-carousel .owl-item.active.center {
  transform: scale(1);
  opacity: 1;
}

.owl-carousel::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white);
}

.owl-carousel .owl-item img {
  height: 200px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.owl-item > div {
  text-align: center;
  display: flex;
  justify-content: center;
}

main section h2 {
  font-weight: 400;
  display: block;
  text-align: center;
  margin: 100px auto 70px;
  color: var(--color-lavanda);
}

#arrows_section {
  position: relative;
}
#arrows_section img {
  position: absolute;
  top: -125px;
  cursor: pointer;
  display: inline-block;
  z-index: 20;
}
#arrows_section #prev {
  left: 25px;
}
#arrows_section #next {
  right: 25px;
  transform: rotate(180deg);
}

#snow {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

main {
  position: relative;
}

#footer {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-80%);
}

.info_section {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.info_section div {
  padding: 9px 5px 10px;
  border-radius: 15px;
  background-color: var(--color-red);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.info_section p {
  color: white;
  font-size: 20px;
}

.text_wrapper {
  margin-top: 50px;
  text-align: center;
}
.text_wrapper p {
  font-size: 12px;
  line-height: 20px;
}

footer {
  margin: 100px 0;
}
footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer a.logo {
  max-width: 400px;
  margin: 0 15px;
  display: inline-block;
}
footer a.logo img {
  width: 100%;
}
footer ul {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
footer ul li:first-child {
  margin-right: 15px;
}
footer ul a {
  color: var(--color-purple);
}

@media screen and (max-width: 550px) {
  .sidebar {
    background-color: rgba(255, 244, 233, 0.6);
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
  }
  .header section header {
    padding: 35px 20px;
  }
  .header_index {
    max-height: 100vh;
  }
  .header_image img {
    width: 140vw;
  }
  .sidebar_main nav ul a {
    font-size: 16px;
  }
  .header:not(.header_index) .header_image {
    left: 50%;
    display: block;
    position: absolute;
    transform: translateX(-70vw);
  }
}
@media screen and (max-height: 700px) {
  .header, header {
    min-height: 700px;
  }
  .header {
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=main.css.map */